<footer class="footer">
    <div class="f-page">
        <div class="L-side">
            <div class="f-one">
                <p> &copy; WonderLust Private Limited</p>
            </div>
        </div>
        <div class="f-middle">
            <div class="f-two ">
                <a class="anchor" href="">Privacy</a>
                <a class="anchor" href="">Terms</a>
                <a class="anchor" href="">Sitemap</a>
                <a class="anchor" href="">Company details</a>
            </div>
        </div>
        <div class="R-side">
            <div class="f-three">
                <i class="fa-solid fa-globe"></i> <a class="anchor" href="">English (IN)</a>
            </div>
            <div class="f-four">
                <i class="fa-solid fa-indian-rupee-sign"></i> <a class="anchor" href="">INR</a>
            </div>
            <div class="f-five">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-square-instagram"></i>
            </div>
        </div>
    </div>
</footer>